# Ignore everything
*

# But not these files:
!readme.md
!deploy.sh
!.gitignore

!.bash*

!.config

!.config/batsignal
!.config/dunst
!.config/hypr
!.config/kitty
!.config/lf
!.config/neofetch
!.config/nvim
!.config/rofi
!.config/tmux
!.config/vim
!.config/waybar

!.config/dunst/**
!.config/hypr/**
!.config/kitty/**
!.config/lf/**
!.config/neofetch/**
!.config/nvim/**
!.config/rofi/**
!.config/tmux/tmux.conf
!.config/vim/**
!.config/waybar/**

!.local
!.local/share
!.local/share/rofi
!.local/share/rofi/themes
!.local/share/rofi/themes/**

# Exceptions
.bash_history*
.config/hypr/hypr.session
.config/hypr/hyprsession.conf
.config/hypr/monitors.conf
.config/hypr/monitors-persistent.conf
.config/nvim/lazy-lock.json
**/*.bak
**/.*.bak

# !.config/<sth>
# !.config/<sth>/**
#
# First row is for the directory itself, 
# second row is for the files inside the directory,
# including subdirectories.
